table{
    border: 3px solid;
    border-collapse: collapse;
    width: 50%;
    height: 500px;
    margin-left: auto;
  margin-right: auto;
    position: center;
}
td,tr{
    border: 3px solid;
    
    text-align: center;
}

body{
    font-size: larger;
}